<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="70"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="70"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="70"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'yellow'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'Github'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [title]="'TrabajoEnGrupo'"
        [titleColor]="'grey'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false">
        </circle-progress>
    </div>
</div>
