.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*Estilo de foto de perfil*/
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 750px;
    }

    #nombre{
        margin-top: 15%;
    }
}

@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 640px;
    }
}

@media(min-width: 1201px){
    #fotodeperfil{
        top: 590px;
    }
}

@media(min-width: 1801px){
    #fotodeperfil{
        top: 540px;
    }
}

/*Etiqueta nombre*/
