<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.png"
        class="img-fluid"
        id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Matías Müller</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Perspiciatis nobis architecto
            harum ratione ipsam, fugit voluptatibus doloremque 
            molestias vitae et necessitatibus qui inventore,
            doloribus iste illum nihil obcaecati minus cupiditate.
            </p>
        </span>
    </div>
</div>

