<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam impedit reprehenderit similique necessitatibus mollitia, expedita, quasi repellendus fuga laudantium tempora eveniet odit accusantium architecto dolorem, enim veniam obcaecati corporis accusamus.
            </p>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam impedit reprehenderit similique necessitatibus mollitia, expedita, quasi repellendus fuga laudantium tempora eveniet odit accusantium architecto dolorem, enim veniam obcaecati corporis accusamus.
            </p>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam impedit reprehenderit similique necessitatibus mollitia, expedita, quasi repellendus fuga laudantium tempora eveniet odit accusantium architecto dolorem, enim veniam obcaecati corporis accusamus.
            </p>
        </ul>
    </div>
</div>
