.row{
    /*background-color: #a1b5cb;*/
    background: rgb(2,15,23);
    background: linear-gradient(102deg, rgba(2,15,23,1) 0%, rgba(59,102,137,1) 100%);
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px black;
}